@model IList<Poker_Project.Models.Game>;

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div>
        <br />
        <table class="table table-striped">
            <thead style="background-color: #0a2a0a; color: #f0ffff">
                <tr>
                    <th>#</th>
                    <th>Date and Time</th>
                    <th>Difficulty (easy, moderate, difficult)</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody style="background-color: #f0ffff">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].DateComplete.ToString("MMM dd, yyyy")</td>
                        <td>@Model[i].Ai?.Difficulty</td>
                        <td>@(Model[i].Winner ? "You" : "AI")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h3>XP: @ViewData["xp"]</h3>
</div>